.audience {
  position: relative;
  padding: 108px 0 110px;
  background-color: $light-blue;

  @include for-large-device {
    padding: 108px 30px 110px;
  }

  @include for-medium-device {
    padding: 50px 15px;
  }
  
  &__container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
  }

  &__content {
    max-width: 555px;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  
  &__title {
    margin-top: 24px;
    
    @include for-medium-device {
      margin-top: 17px;
    }
  }
  
  &__description {
    margin-top: 30px;

    @include for-medium-device {
      margin-top: 18px;
    }
  }

  &__button {
    margin-left: 10px;

    @include for-medium-device {
      margin-top: 12px;
      margin-left: 0;
    }
  }

  &__actions {
    margin-top: 34px;
    font-size: 0;

    @include for-medium-device {
      margin-top: 30px;
    }
  }
}

.categories {
  display: flex;
  justify-content: space-between;
  margin-top: 111px;
  flex-wrap: wrap;

  @include for-large-device {
    justify-content: flex-start;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    column-gap: 30px;
    row-gap: 15px;
  }

  @include for-medium-device {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }

  @include for-small-device {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-extra-small {
    grid-template-columns: repeat(1, 1fr);
  }

  .user-card {
    padding: 22px 0 33px;
    width: 262px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    box-shadow: $shadow;
    cursor: pointer;

    @include for-large-device {
      width: auto;
    }

    &__image {
      height: 195px;
    }

    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      margin: 0;
      margin-top: 22px;
    }

    &:hover {
      background-color: $dark-blue-2;
      color: $white;
    }
  }
}