.communication {
  position: relative;
  padding: 110px 0 110px;
  max-width: 1140px;
  width: 100%;
  margin: auto;

  @include for-large-device {
    padding: 110px 20px 110px;
  }

  @include for-medium-device {
    padding: 50px 15px 50px;
  }
  
  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__content {
    max-width: 460px;
    width: 100%;
    padding-top: 13px;

    @include for-medium-device {
      padding-top: 0;
      max-width: 600px;
    }
  }

  &__subtitle {
    color: #0189D1;
  }
  
  &__title {
    margin-top: 24px;

    @include for-medium-device {
      margin-top: 17px;
    }
  }
  
  &__description {
    margin-top: 30px;

    @include for-medium-device {
      margin-top: 18px;
    }
  }

  &__button {
    margin-top: 39px;

    @include for-medium-device {
      margin-top: 30px;
    }
  }

  &-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 63px;

    @include for-medium-device {
      margin: auto;
      margin-top: 40px;
      max-width: 500px;
      width: 100%;
    }

    &__image {
      width: 425px;
      height: 426px;

      @include for-medium-device {
        width: 100%;
        height: auto;
      }
    }

    &__description {
      margin-top: 15px;
      color: rgba(43, 41, 45, 0.6);
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__line {
    margin-top: 26px;
    width: 150px;
    height: 1px;
    background-color: $black;
    opacity: 0.1;
  }

  &__features {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      max-width: 361px;
      width: 100%;

      @include for-large-device {
        max-width: 300px;
      }

      @include for-medium-device {
        max-width: 360px;
      }

      @include for-small-device {
        max-width: 500px;
      }

      &:last-child {
        @include for-medium-device {
          margin-top: 33px;
        }
      }

      &:not(:first-child) {
        @include for-small-device {
          margin-top: 33px;
        }
      }
      
      &__description {
        margin: 0;
      }
    
      &__link {
        font-weight: 700;
        color: $dark-blue-1;
      }
    }
  }
}