$light-beige: #F3C6BD;
$light-orange: #FCF0E3;
$dark-blue-1: #3040C4;
$dark-blue-2: #3141C5;
$dark-blue-3: #3142C6;
$light-gray: #F4F5F7;
$light-blue: #00a1c612;
$black: #000000;
$white: #ffffff;
$text-black: #2B292D;
$text-white: #ffffff;
$text-blue: #3142C6;
$shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);